<!DOCTYPE html>
<html ng-app="gitUsersApp">
  <head>
    <meta charset="utf-8">
    <title>Gitty Awesomeness</title>
    <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style/main.css">
    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script type="text/javascript" src="js/vendor/angular-mocks.js"></script>
  </head>
  <body ng-controller="usersController">
    <header class="header">
      <h1>GIT USER</h1>
    </header>
    <div class="container">
      <input ng-model="query" id="inputBox"><button ng-click="userSearch()">Search</button>
      <ul>
        <li ng-repeat="user in users | filter: query">
          <div>
            <dl>
              <dt>Name</dt>
              <dd>login: <span ng-bind="user.login"></span></dd>
            </dl>
          </div>
        </li>
      </ul>
    </div>
    <script type="text/javascript" src="js/vendor/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/myJs/app.js"></script>
    <script type="text/javascript" src="js/myJs/controllers.js"></script>
  </body>
</html>